:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* navbar start */
.ftco-navbar-light {
  background: #fff !important;
  z-index: 3;
  padding: 0;
  height: 80px;
  -webkit-box-shadow: 0px 5px 20px -17px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 5px 20px -17px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 5px 20px -17px rgba(0, 0, 0, 0.34);
}
@media (max-width: 991.98px) {
  .ftco-navbar-light {
    background: #fff;
    position: relative;
    top: 0;
    padding: 10px 15px;
  }
}
.ftco-navbar-light .navbar-brand {
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}
.ftco-navbar-light .navbar-brand span {
  display: block;
  font-size: 12px;
  font-weight: 500;
}
.ftco-navbar-light .navbar-brand:hover,
.ftco-navbar-light .navbar-brand:focus {
  color: #000;
}
@media (max-width: 767.98px) {
  .ftco-navbar-light .navbar-brand {
    margin-bottom: 20px;
  }
}
@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav {
    padding-bottom: 10px;
  }
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
  font-size: 11px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
  color: #4d4d4d;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  opacity: 1 !important;
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: turquoise;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  z-index: -1;
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
  color: #fff;
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover:before {
  visibility: visible;
  background-color: turquoise;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
  }
  .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
    color: #fff;
  }
}
@media (max-width: 767.98px) {
  .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
}
.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu {
  border: none;
  background: #fff;
  -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
  border-radius: 4px;
}
.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item {
  font-size: 12px;
  color: #000;
}
.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:hover,
.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:focus {
  background: #f1bc31;
  color: #fff;
}
@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu {
    display: block !important;
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
.ftco-navbar-light .navbar-nav > .nav-item.cta > a {
  color: #fff;
  background: #f1bc31;
  border-radius: 0px;
}
@media (max-width: 767.98px) {
  .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
    color: #fff;
    background: #f1bc31;
    border-radius: 4px;
  }
}
.ftco-navbar-light .navbar-nav > .nav-item.active > a {
  color: #fff;
}
.ftco-navbar-light .navbar-nav > .nav-item.active > a:before {
  visibility: visible;
  background-color: #f1bc31;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav > .nav-item.active > a {
    color: #000;
  }
  .ftco-navbar-light .navbar-nav > .nav-item.active > a:before {
    display: none;
  }
}
.ftco-navbar-light .navbar-toggler {
  border: none;
  color: rgba(0, 0, 0, 0.5) !important;
  cursor: pointer;
  padding-right: 0;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.1em;
}
.ftco-navbar-light .navbar-toggler:focus {
  outline: none !important;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
@media (max-width: 767.98px) {
  .ftco-navbar-light .navbar-brand {
    margin-bottom: 20px;
  }
}
.searchform {
  height: 46px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  overflow: hidden;
  border-radius: 5px;
}
.searchform .form-control {
  width: calc(100% - 46px);
  border: none;
  background: #fff !important;
  color: rgba(0, 0, 0, 0.7) !important;
  font-size: 14px;
}
.searchform .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.7) !important;
}
.searchform .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.7) !important;
}
.searchform .form-control:-ms-input-placeholder {
  /* IE 0+ */
  color: rgba(0, 0, 0, 0.7) !important;
}
.searchform .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.7) !important;
}
.searchform .search {
  width: 46px;
  height: 46px;
}
.searchform .search span {
  font-size: 18px;
}

.form-control {
  height: 46px !important;
  background: #fff !important;
  color: #000 !important;
  font-size: 14px;
  border-radius: 0px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-control:focus,
.form-control:active {
  border-color: #000;
}
/* navbar ends */

/* footer start */

.Upper-footer {
  background: #171921;

  width: 100%;
  margin: 0;
  padding: 20px;
}
.right-part {
  padding: 20px;
}
.right-part a {
  color: #fff;
  margin-right: 10px;
  height: 30px;
  width: 30px;
  border-radius: 2px;
}
.right-part i {
  padding: 8px;
}
.lower-footer {
  background-color: #1f2024;

  width: 100%;
}
.lower-left a {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  margin-left: 20px;

  padding: 10px;
}
.lower-right p {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  padding: 20px;
}
.lower-right span {
  color: #ff00ba;
}
.scroll-btn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}
.scroll-btn:hover {
  opacity: 0.7;
}
/* footer ends */

/* 
body starts */
.col-md-12 {
  border: 1px solid whitesmoke;
  width: 150%;
}
.bottomline {
  border-bottom: 2px green;
  border-left: 10px solid green;
  border-top-right-radius: 5%;
}
.icon2 {
  width: 8%;
  border-radius: 7%;
}
.icon2:hover {
  opacity: 0.9;
}

body {
  background-color: #eee;
  font-family: "Poppins", sans-serif;
}

.card {
  border: none;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
}

.comment-text {
  font-size: 12px;
}

.fs-10 {
  font-size: 12px;
}
.flexitem {
  display: flex;
  flex-wrap: wrap;
  background-color: #ccc;
}

.top-left {
  flex: 50%;
}

.top-right {
  flex: 50%;
  text-align: right;
}
.fontchange {
  font-size: 10px;
}
.popularpost:hover {
  opacity: 0.9;
}
.popular_card a {
  text-decoration: none;
  color: black;
}

.popular_card a:hover {
  color: turquoise;
  cursor: pointer;
}
.icon {
  width: 16.4%;
  border-radius: 7%;
}
.icon:hover {
  opacity: 0.9;
}
.tcolor {
  color: turquoise;
  text-decoration: none;
}
.top-left {
  flex: 50%;
}

.top-right {
  flex: 50%;
  text-align: right;
}
.fontchange {
  font-size: 10px;
}
.font_size2 {
  font-size: small;
}
a {
  color: black;
  font-size: inherit;
  text-decoration: none;
}
a:hover {
  color: turquoise;
  text-decoration: none;
}
