.col-md-12 {
  border: 1px solid whitesmoke;
  width: 150%;
}
.tcolor {
  color: turquoise;
}
.font_size {
  font-size: 15px;
}
a {
  color: black;
  font-size: inherit;
}
a:hover {
  color: turquoise;
  text-decoration: none;
}
.font_size2 {
  font-size: small;
}
.icon {
  width: 16.4%;
  border-radius: 7%;
}
.icon:hover {
  opacity: 0.9;
}

.thm {
  width: 50%;
}

.thm:hover {
  opacity: 0.9;
}
.flexitem {
  display: flex;
  flex-wrap: wrap;
  background-color: #ccc;
}

.top-left {
  flex: 50%;
}

.top-right {
  flex: 50%;
  text-align: right;
}
.fontchange {
  font-size: 10px;
}
.popularpost:hover {
  opacity: 0.9;
}
