@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
.col-md-12 {
  border: 1px solid whitesmoke;
  width: 150%;
}
.bottomline {
  border-bottom: 2px solid rgb(24 152 204);
  border-left: 10px solid rgb(24 152 204);
  border-top-right-radius: 5%;
}
.icon {
  width: 8%;
  border-radius: 7%;
}
.icon:hover {
  opacity: 0.9;
}

body {
  background-color: #eee;
  font-family: "Poppins", sans-serif;
}

.card {
  border: none;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
}

.comment-text {
  font-size: 12px;
}

.fs-10 {
  font-size: 12px;
}
